/*variaveis de cores */
:root{
    --cor-primaria: #ff0000;
    --cor-texto: #333;
    --cor-clara: #FFFFFF;
}
/* reset layout navegador*/
body{
    margin: 0; 
    padding: 0; 
    box-sizing: border-box; 
}
body{
    font-family: 'Segoe UI', sans-serif; 
    line-height: 1.6; 
    color: var(--cor-texto); 
}
.cabecalho{
    background-color: var(--cor-primaria);
    color: var(--cor-clara);
}